*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#telemetryBtn{
    position:absolute;
    top:20px;
    left:20px;
    padding:10px 20px;
    z-index:100;
    cursor:pointer;
}
#telemetryPanel{
    position:absolute;
    top:90px;
    left:20px;
    background:rgba(0,0,0,0.7);
    color:white;
    padding:15px;
    border-radius:8px;
    font-family:Arial;
    z-index:100;
}